
:root{
	--xanh: #3b5998;
	--xanhtwi:#00aced;
	--do:#cb2027;
};
ul{
	list-style: none;
}
a:hover{
	color: red !important;
}

a:link{
	text-decoration: none !important;
}
.preview p{
	color: #666666;
	font-size: 13px;
	line-height: 1.5;
}
.a-d{
	display: flex;
}
.a-d .date p:before{
	content: "-";
	margin: 0 8px;
}
.a-d .date p{
	color: #B7B7B7;
	font-size: 11px;
}
.a-d .author p{
	color: #666;
	font-size: 11px;
}
}
.header{
	background-color: #fff;
}

.header .header-top{
	border-bottom: solid 1px #ecede7; 
	width: 100%;
}
.header .header-top	.top-left .menu-top{
	display: flex;
	list-style: none;
	padding: 0px;
	margin-bottom: 0px;
}
.header .header-top .container1{
	display: flex; 
	width: 1150px;
	height: 35px;
	margin: 0 auto;
	align-items: center;
}
.header .header-top	.top-left{
	width: 70%;
}

.header .header-top	.top-left .menu-top a{
	color: #63636a;
	margin-right: 10px;
}
.header .header-top	.top-left .menu-top a:hover{
	color: red;
	text-decoration: none;
}

.header .header-top	.top-right .menu-icon a{
	color: #63636a;
	margin-right: 10px;
	font-size: 14px;
}
.header .header-top	.top-right{
		display: flex;
		height: 35px;
		margin-bottom: 0px;	
}


.header .header-top	.top-right .menu-icon a:hover{
	color: red;
}

.header .header-top	.top-right .menu-icon{
	margin-bottom: 0px;
	display: flex;
	border-right: solid 1px #ecede7; 
	list-style: none;
	padding-left: 0px;
	height: 100%;
	align-items: center;
}
.header .header-top	.top-right .search{
		
		height: 35px;
		display: flex;
		align-items: center;
}
.header .header-top	.top-right .search-item{
		margin-left: 20px;
		font-size: 17px;
}
.header .header-top	.top-right .tbx input{
	margin-left: 10px;
	border: none;
	width: 100%;
	outline: none;
}
/* Blog banner*/
.header .header-blog{
	width: 100%;
	border-bottom: solid 1px #ecede7;
}
.header .header-blog .gr-header-blog{
	display: flex;
	width: 1150px;
	margin: 0 auto;
}

.header .header-blog .logo-left{
	width: 40%;	
	padding: 26px;
	padding-left: 0px;
}
.header .header-blog .logo-left img{
padding-top: 28px;
}

.header .header-blog .logo-right{
	width: 60%;

}
.header .header-blog .logo-right img{
	width: 100%;
	padding: 24px;
	padding-right: 0px;
}
/* MENU */
.header .header-menu{
	height: 50px;
	box-shadow: 0px 3px 0px 0px #4343;
	width: 100%;
}
.header .header-menu .menu{
	display: flex;
	margin: 0 auto;
	width: 1150px;
	height: 100%;
	align-items: center;
}

.header .header-menu .menu .icon{
	
	background-color: #000;
}
.header .header-menu .menu .icon a{
	font-size: 25px;
	display: flex;
	padding: 12.5px;
	color: white;
}
.header .header-menu .menu .icon a:hover{
	font-size: 25px;
	display: flex;
}
.header .header-menu .menu .menu-bar{
	width: calc(100% - 50px);
	position: relative;
	height: 100%;
}
.header .header-menu .menu .menu-bar .rdn{
	position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    height: 50px;
    width: 52px;
}
.header .header-menu .menu .menu-bar .rdn a{
font-size: 25px;
	display: flex;
	padding: 12.5px;
	color: white;
}
.header .header-menu .menu .menu-bar .bar{
	display: flex;
	flex-wrap: wrap;
	padding-left: 1px;
	align-items: center;
	height: 100%;
	margin-bottom: 0;
}
.header .header-menu .menu .menu-bar .bar .bar-item{
	height: 100%;
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header .header-menu .menu-bar .bar a{
	color: black;
}
.header .header-menu .menu-bar .bar li:hover{
	background-color: black;
}
.header .header-menu .menu-bar .bar li:hover a{
	color: white;
}
.header .header-menu .menu-bar .bar a:hover{
	color: white !important;
}

.header .header-menu .menu-bar .bar ul{
	list-style: none;
}

/* Main*/
.main{
	background: #f5f5f5;
	width: 100%;
}
.main .noi-dung{
	width: 1150px;
	margin: 40px auto;
	margin-top: 0;
	padding-top: 40px;	
}
.main .noi-dung .tin-tuc{
	display: flex;
}
.main .noi-dung .tin-tuc .tin-chinh{
width: 69%;
display: flex;
}
.main .noi-dung .tin-tuc .tin-chinh .ndtin{
	width: 70%;
}
.main .noi-dung .tin-tuc .tin-chinh .ndtin .tin-to{
	width: 95%;
	background-color: white;
}
.main .noi-dung .tin-tuc .tin-chinh .ndtin .tin-to .anh img{
	width: 100%;
	height: 398px;
}
.main .noi-dung .tin-tuc .tin-chinh .ndtin .tin-to .anh img:hover{
	opacity: 0.5;
	background: black;
	transition : 0.5s;
}
.main .noi-dung .tin-tuc .tin-chinh .ndtin .tin-to .content1{
	width: 100%;
	padding: 18px;
}
.main .noi-dung .tin-tuc .tin-chinh .ndtin .tin-to .content1 .title a{
	font-size: 22px;
	color: #222;
	
}
.main .noi-dung .tin-tuc .tin-chinh .ndtin .tin-to .content1 .title p{
	font-weight: 900;
}

.main .noi-dung .tin-tuc .tin-chinh .ndtin .tin-to .content1 .title a:hover{
	color: #f2132d;
}
.main .noi-dung .tin-tuc .tin-chinh .ndtin .tin-to .content1 .a-d{
	display: flex;
	position: relative;
}
.main .noi-dung .tin-tuc .tin-chinh .ndtin .tin-to .content1 .a-d:after{
	content:"";
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 60px;
	height: 1px;
	background: #f0f0f0;
}
.main .noi-dung .tin-tuc .tin-chinh .ndtin .tin-to .content1 .a-d .author p{
	font-size: 11px;
}
.main .noi-dung .tin-tuc .tin-chinh .ndtin .tin-to .content1 .a-d .date p{
	color: #B7B7B7;
	font-size: 11px;
}
.main .noi-dung .tin-tuc .tin-chinh .ndtin .tin-to .content1 .preview p{
	color: #666666;
	font-size: 13px;
	padding-top: 10px;

}

.main .noi-dung .tin-tuc .tin-chinh .tin-nho{
	width: 30%;
	margin-bottom: 15px;
}
.main .noi-dung .tin-tuc .tin-chinh .tin-nho .tin-nhanh{

}
.main .noi-dung .tin-tuc .tin-chinh .tin-nho .tin-nhanh .tin1{
	margin-bottom: 15px;
}
.main .noi-dung .tin-tuc .tin-chinh .tin-nho .tin-nhanh .tin1 .anh img{
	width: 100%;
}
.main .noi-dung .tin-tuc .tin-chinh .tin-nho .tin-nhanh .tin1 .the-content {
	width: 100%;
   	padding: 20px;
   	background: white;
}
.main .noi-dung .tin-tuc .tin-chinh .tin-nho .tin-nhanh .tin1 .the-content .title a{
	font-size: 15px;
	color: #222;
	font-weight: 800;
}

.main .noi-dung .tin-tuc .tin-chinh .tin-nho .tin-nhanh .tin1 .the-content .a-d{
	display: flex;
}
.main .noi-dung .tin-tuc .tin-chinh .tin-nho .tin-nhanh .tin1 .the-content .a-d .date p:before{
	content: "-";
	margin: 0 8px;
}
.main .noi-dung .tin-tuc .tin-chinh .tin-nho .tin-nhanh .tin1 .the-content .a-d .date p{
	color: #B7B7B7;
	font-size: 11px;
}
.main .noi-dung .tin-tuc .tin-chinh .tin-nho .tin-nhanh .tin1 .the-content .a-d .author p{
	color: #666;
	font-size: 11px;
}
.main .noi-dung .Recent-Post{
width: 67%;
}
.main .noi-dung .Recent-Post .new-post{
margin: 30px;
margin-left: 0;
font-weight: 1000px;

}
.main .noi-dung .Recent-Post .new-post p:after{
position: absolute;
content: "";
border: solid 1px #eee;
top: 50%;
left: 50%;
width: 100%;
transform: translate(-50%,-50%);
z-index: -1;
}
.main .noi-dung .Recent-Post .new-post p{
font-weight: 1000;
    color: #222;
    position: relative;
    margin: 0;
    z-index: 0;
}
.main .noi-dung .Recent-Post .new-post a:hover{
color: #222;
}
.main .noi-dung .Recent-Post .post .news .imges1{
width: 50%;
height: 274px;

}
.main .noi-dung .Recent-Post .post .news .imges1 img{
 max-height: 274px;

}

.main .noi-dung .Recent-Post .post .news{
display: flex;
margin-bottom: 50px;
}
.main .noi-dung .Recent-Post .post .news .des{
	background: white;
	width: 50%;
}
.main .noi-dung .Recent-Post .post .news .des .description{
	padding: 30px;
}
.main .noi-dung .Recent-Post .post .news .des .description .title{
	margin-bottom: 10px;
}
.main .noi-dung .Recent-Post .post .news .des .description .title a{
	font-size: 22px;
    color: #222;
    font-weight: 800;
	
}
.main .noi-dung .Recent-Post .post .news .des .description {
	margin: 0 auto;
}
.main .noi-dung .Recent-Post .post .news .des .description .a-d{
	display: flex;
	position: relative;
	padding-top: 5px;
}
.main .noi-dung .Recent-Post .post .news .des .description .a-d:after{
	content:"";
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 60px;
	height: 1px;
	background: #f0f0f0;
}
.main .noi-dung .Recent-Post .post .news .des .description .action{
	color: #B7B7B7;
	display: flex;
	padding-top: 10px;
}
.main .noi-dung .Recent-Post .post .news .des .description .action .comment{
	position: relative;
	padding-left: 20px;
	font-size: 11px;
	margin-right: 10px;
}
.main .noi-dung .Recent-Post .post .news .des .description .action .comment:before{
	position: absolute;
	content:'\f0e5';
	font-family:'FontAwesome';
	font-weight:900;
	top:0;
	left: 0;
}

.main .noi-dung .Recent-Post .post .news .des .description .action .time{
	position: relative;
	padding-left: 20px;
	font-size: 11px;
}
.main .noi-dung .Recent-Post .post .news .des .description .action .time:before{
	position: absolute;
	content:'\f017';
	font-family:'FontAwesome';
	font-weight:900;
	top:0;
	left: 0;
}
.main .noi-dung .Recent-Post .post .news .des .description .preview p{
	padding-top: 10px;
}
.main .noi-dung .Recent-Post .post .pagition{
	border: solid 3px black;
    padding: 1.5rem 3.2rem;
    display: inline-block
}
.main .noi-dung .Recent-Post .post .pagition .number {
	display: inline-block;
	padding-right: 5px;
	font-weight: 900;
	color: #a0a0a0;
}

.main .noi-dung .Recent-Post .post .pagition .number a{
	color: black;
}
.main .noi-dung .Recent-Post .post .pagition .number .next{
	position: relative;
}
.main .noi-dung .Recent-Post .post .pagition .number .next:after{
	position: absolute;
    content: "\f178";
    font-family: 'FontAwesome';
    font-weight: bold;
    top: 0;
    left: 50px;
	color: black;
}
.main .noi-dung .Recent-Post .post .pagition .number .next:hover a{
	color: red;
}
.main .noi-dung .Recent-Post .post .pagition .number .next:hover:after {
	color: red;
}
.main .noi-dung .Recent-Post .post .pagition .number:last-child{
	padding-right: 20px;
}

/* Slide bar*/
.main .noi-dung .tin-tuc .content-right {
	width: 30%;
    margin-left: 40px;
    height: 100%;
    position: relative;
}
.main .noi-dung .tin-tuc .content-right .slide-bar{
background: white;
}
.main .noi-dung .tin-tuc .content-right .slide-bar .widget{
	width: 100%;
	height: 100%;
	padding: 30px;
	margin-bottom: 40px;
	display: block; 
}
.main .noi-dung .tin-tuc .content-right .slide-bar .widget .title p{
	position: relative;
	z-index: 0;
	color: black;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 30px;
}
.main .noi-dung .tin-tuc .content-right .slide-bar .widget .title p:after{
  position: absolute;
    content: "";
    border: solid 1px #eee;
    top: 50%;
    left: 74%;
    width: 52%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.main .noi-dung .tin-tuc .content-right .slide-bar .widget .title-pics{
	width: 100%;
}
.main .noi-dung .tin-tuc .content-right .slide-bar .widget .title-pics .first-pic .pic{
	width: 100%;
}
.main .noi-dung .tin-tuc .content-right .slide-bar .widget .title-pics .first-pic .pic:first-child a{
	font-weight: 900;
	color: white;
}
.main .noi-dung .tin-tuc .content-right .slide-bar .widget .title-pics .first-pic .pic a{
	font-weight: 900;
	color: black;

}

.main .noi-dung .tin-tuc .content-right .slide-bar .widget .title-pics .first-pic .pic p{
	color: #B7B7B7;
	margin-bottom: 0;
	display: inline-block;
	font-weight: 300;
	font-size: 11px;
}
.main .noi-dung .tin-tuc .content-right .slide-bar .widget .title-pics .first-pic .pic:first-child img{
	height: 200px;
	width: 100%;	
	opacity: 0.5;
	transition: 0;
}
.main .noi-dung .tin-tuc .content-right .slide-bar .widget .title-pics .first-pic .pic{
	position: relative;
	border-top: 1px solid #B7B7B7;
	width: 100%;
}

.main .noi-dung .tin-tuc .content-right .slide-bar .widget .title-pics .first-pic .pic .title-small{
	color: black;
    position: absolute;
    left: 0;
    bottom: 10px;
    padding-left: 20px;
}
.main .noi-dung .tin-tuc .content-right .slide-bar .widget .title-pics .first-pic .pic img{
	height: 100px;
	width: 100%;	
	opacity: 0;
}
.main .noi-dung .tin-tuc .content-right .slide-bar .widget .title-pics .first-pic .pic img:hover{
	transition: 0.8s;
	opacity: 1;
}

.main .noi-dung .tin-tuc .content-right .Social{
    position: absolute;
    width: 100%;
    padding: 30px;
    margin-bottom: 40px;
    display: block;
    background: white;
}
.main .noi-dung .tin-tuc .content-right  .Social .content {
	background: white;
	width: 100%;
	height: auto;
}
.main .noi-dung .tin-tuc .content-right .Social .content .title p{
font-weight: 1000;
    color: #222;
    position: relative;
    margin: 0;
    z-index: 0;
    margin-bottom: 20px;
}
.main .noi-dung .tin-tuc .content-right .Social .content .title p:after{
position: absolute;
    content: "";
    border: solid 1px #eee;
    top: 50%;
    left: 69%;
    width: 62%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.main .noi-dung .tin-tuc .content-right .Social .content .menu-link .link-to {
	padding: 0;
	margin: 0;
}

.main .noi-dung .tin-tuc .content-right .Social .content .menu-link .link-to .box {
	display: flex;
	width: 100%;
	height: 40px;
	
}
.main .noi-dung .tin-tuc .content-right .Social .content .menu-link .link-to .box .box-small{
	padding: 10px;
	border: 1px solid #eee;
	color: black;
	margin: 0;
	width: 40px;
	height: 40px;
	text-align: center;
}
.main .noi-dung .tin-tuc .content-right .Social .content .menu-link .link-to .box .box-big{
	padding: 10px;
	border: 1px solid #000;
	display: flex;
	border-left: none;
}
.main .noi-dung .tin-tuc .content-right .Social .content .menu-link .link-to .box .box-big p{
	color: #000;
	margin: 0;
	font-size: 12px;
}
.main .noi-dung .tin-tuc .content-right .Social .content .menu-link .link-to .box .big-box{
	  width: calc(100% - 90px);
}
.main .noi-dung .tin-tuc .content-right .Social .content .menu-link .link-to .box .follow{
	padding: 10px;
	border: 1px solid #E7E7E7;
	text-align: right;
	border-left: none;
	width: 95px;
	padding-right: 20px;
	font-size: 12px;
}
.main .noi-dung .tin-tuc .content-right .Social .content .menu-link .link-to .box .follow p{
		margin: 0;
		z-index: 1;
		color: #000;
}
.main .noi-dung .tin-tuc .content-right .Social .content .menu-link .link-to .box .box-big{
	padding: 10px;
    width: calc(100% - 135px);
    border: 1px solid #E7E7E7;
    border-right: none;

}
.main .noi-dung .tin-tuc .content-right .Social .content .menu-link .link-to a:hover .box:first-child{
	opacity: 0.7;
	transition: 0.7s;
	background: var(--do);
}
.main .noi-dung .tin-tuc .content-right .Social .content .menu-link .link-to a:hover .box{
	opacity: 0.7;
	transition: 0.7s;
	background: var(--xanh);
}
.main .noi-dung .tin-tuc .content-right .Social .content .menu-link .link-to a:hover .box .box-small{
	color: white;
	transition: 0.7s;
}
.main .noi-dung .tin-tuc .content-right .Social .content .menu-link .link-to a:hover .box .box-big p{
	color: white;
	transition: 0.7s;
}

.main .noi-dung .tin-tuc .content-right .Social .content .menu-link .link-to a:hover .box .follow p{
	color: white;
	transition: 0.7s;
}
.main .noi-dung .tin-tuc .content-right .contact-fb{
	position: absolute;
	width: 100%;
	background: white;
    margin-top: 300px;
  }
  .main .noi-dung .tin-tuc .content-right .contact-fb .content{
  	padding: 30px;
  	width: 100%;
  }
 
.main .noi-dung .tin-tuc .content-right .contact-fb .content .title p{
	font-weight: 1000;
    color: #222;
    position: relative;
    margin: 0;
    z-index: 0;
    margin-bottom: 20px;

}
.main .noi-dung .tin-tuc .content-right .contact-fb .content .title p:after{
position: absolute;
    content: "";
    border: solid 1px #eee;
    top: 50%;
    left: 69%;
    width: 62%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

